@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
header{
    width: 100%;
    height: 215px;
    border-bottom: 1px solid #666;
    /* background-color: aqua; */
}
header>#linebox{
    width: 100%;
    height: 90px;
    border-bottom: 1px solid #666;
}
#inner-header{
    margin: 0 auto;
    width: 980px;
    height: 90px;
    /* background-color: antiquewhite; */
}
#inner-header>#logo1{
    float: left;
    width: 150px;
    height: 90px;
    /* background-color: beige; */
}
#inner-header>#top-signup{
    float: right;
    width: 300px;
    height: 90px;
    /* background-color: brown; */
}
header>nav{
    margin: 0 auto;
    width: 100%;
    height: 125px;
    background: url(./images/visual_bg.png);
}
header>nav>#imgbox{
    margin: 0 auto;
    width: 980px;
    height: 125px;
    background: url(./images/neo_img_ss2.png)
    left bottom no-repeat;
}
#wrap{
    width: 850px;
    height: 1300px;
    margin: 0 auto;
    /* background-color: aqua; */
}
footer{
    position: absolute;
    width: 100%;
    height: 130px;
    border-top: 1px solid gray;
    margin-top: 30px;
    
}
footer>#inner-footer{
    position: relative;
    top: 50px;
    margin: 0 auto;
    width: 980px;
    height: 80px;
    
}
footer>#inner-footer>#logo2{
    float: left;
    width: 200px;
    height: 80px;
    
}
footer>#inner-footer>#copyright{
    float: left;
    width: 540px;
    height: 80px;
    
}
footer>#inner-footer>#logo3{
    float: left;
    width: 240px;
    height: 80px;
    
}