*{
    margin:0;
    padding:0;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
#wrap{
    width: 790px;
    margin: 0 auto;
    margin-bottom: 50px;
    /* background-color: bisque; */
}
#wrap>#content1{
    width: 790px;
    height: 44px;
    margin: 0 auto;
    margin-top: 7px;
    border-bottom: 1px solid #cfcfcf;
    /* background-color: bisque; */
}
#content1>h1{
    font-size: 20px;
    color: #555;
    width: 80px;
    height: 30px;
    margin-top: 5px;
    display: block;
    float: left;
}
#content1>#path{
    float: right;
    width: 180px;
    height: 12px;
    margin-top: 15px;
}
#content1>#path>a{
    font-size: 12px;
    color: #666;
}
#path>strong{
    font-size: 12px;
    color: #666;
}
#content2{
    width: 790px;
    margin: 0 auto;
    margin-top: 20px;
    /* background-color: aqua; */
}
table{
    width: 790px;
    border-collapse: collapse;
    border-top: 2px solid #747474;
}
thead{
    height: 35px;
}
th{
    text-align: center;
    border-bottom: 1px solid #b3b3b3;
}
#bno{
    width: 66px;
}
#title{
    width: 477px;
}
#writer{
    width: 75px;
}
#regdate{
    width: 171px;
}
tr{
    height: 36px;
    border-bottom: 1px solid #b3b3b3;
}
td{
    text-align: center;
    coloer: #505050;
}
.board_page{
	height: 20px;
	text-align: center;
	margin-top: 10px;
}
.paginate_button.active_list {
  	color: #377cb6;
  	font-weight: bold;
}
.pagination{
	width: 360px;
	height: 20px;
	margin: 0 auto;
}
li{
	float: left;
	display: block;
	width: 27px;
}
#num{
	font-size: 17px;
	width: 17px;
	color: #505050;
}
#write_btn{
	float: right;
	width: 45px;
	height: 24px;
	font-weight: bold;
	color: #fff;
	background: #377db6;
	vertical-align: middle;
    border: 0px solid #b3b3b3;
    margin-left: 10px;
    cursor: pointer;
}
#pre{
	width: 16px;
    height: 13px;
}
#next{
	width: 16px;
    height: 13px;
}
