<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.mapper.BoardAttachMapper">
	<insert id="insert">
		insert into attachtbl (uuid, uploadpath, filename, filetype, bno)
		values (#{uuid}, #{uploadpath}, #{filename}, #{filetype}, #{bno})
	</insert>
	
	<select id="findByBno" resultType="com.spring.domain.BoardAttachVO">
		select * from attachtbl where bno = #{bno}
	</select>
	
	<delete id="delete">
		delete from attachtbl where uuid = #{uuid}
	</delete>
	
	<delete id="deleteAll">
		delete from attachtbl where bno = #{bno}
	</delete>
	
	<select id="getOldFiles" resultType="com.spring.domain.BoardAttachVO">
		select * from attachtbl where uploadpath = #{uploadpath}
	</select>
</mapper>